atomicwrites==1.2.1
attrs==18.2.0
Django==2.1.5
enum34==1.1.6
lxml==4.3.0
more-itertools==5.0.0
namedlist==1.7
pluggy==0.6.0
py==1.7.0
pytest==3.5.1
pytest-allure-adaptor==1.7.10
pytz==2018.4
six==1.12.0
